.desktop-content {
  background-color: #ffffff;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.desktop-modal-su {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
}


.desktop-modal-su .div-2 {
  background-color: #ffffff;
  height: auto;
  /* No es necesario establecer una altura fija */
  width: 100%;
  max-width: 100%;
}

.desktop-modal-su .overlap-group {
  height: auto;
  /* No es necesario establecer una altura fija */
  left: 0;
  position: relative;
  top: 0;
  width: 100%;
  max-width: 100%;
}

.desktop-modal-su .logo-caixabank {
  height: auto;
  /* No es necesario establecer una altura fija */
  max-width: 100%;
  width: auto;
  /* Ajustar automáticamente el ancho */
  margin: 0 auto;
  /* Centrar el logo horizontalmente */
}

.component {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  padding-top: 15px;
  padding-bottom: 50px;

}

.desktop-modal-su .rectangle {
  height: 133px;
  left: 0;
  position: absolute;
  top: 179px;
  width: 100%;
}

.desktop-modal-su .text-wrapper {
  color: #333333;
  font-family: "Open Sans-SemiBold", Helvetica;
  font-size: 30px;
  font-weight: 600;
  line-height: 125%;
  padding-bottom: 10px;
}

.desktop-modal-su .text-wrapper-2 {
  color: #ffffff;
  font-family: "Open Sans-SemiBold", Helvetica;
  font-size: 50px;
  font-weight: 600;
  letter-spacing: -1.1px;
  line-height: 75px;
  text-align: center;
  white-space: nowrap;
}

.your-turn {
  color: #333333;
  font-family: "Open Sans-SemiBold", Helvetica;
  font-size: 30px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 77.5px;
}

.desktop-modal-su .counter {
  width: 11%;
}

.desktop-modal-su .boton-modificar-instance,
.desktop-modal-su .botn-cancelar {
  height: 48px;
  /* Establecer la altura deseada */
  width: 164px;
  /* Establecer el ancho deseado */
  text-align: center;
}

.desktop-modal-su .text-wrapper-4 {
  text-align: center;
  white-space: wrap;
  position: relative;
  color: #666666;
  font-family: "Open Sans-Regular", Helvetica;
  font-size: 28px;
  font-weight: 400;
  left: 140px;
  letter-spacing: -0.26px;
  text-align: center;
  padding-bottom: 20px;
}


.desktop-modal-su .text-wrapper-3 {
  color: #333333;
  font-family: "Open Sans-SemiBold", Helvetica;
  font-size: 30px;
  font-weight: 600;
  position: relative;
  left: 40px;
  top: 10px;
  letter-spacing: 0;
  line-height: 37.5px;
  padding-bottom: 10px;
}

.desktop-modal-su .https-lottiefiles {
  height: 179px;
  max-width: 100%;
  width: auto;
  /* Ajustar automáticamente el ancho */
  margin: 0 auto;
  /* Centrar la imagen horizontalmente */
}

.desktop-modal-su .frame {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  background-color: #ffffff;
  border-radius: 6px;
  box-shadow: 0px 4px 4px #00000040;
  height: 300px;
  overflow: hidden;
  width: 100%;
  /* Hacer que el ancho sea responsivo */
  max-width: 600px;
  /* Limitar el ancho máximo */
  margin: 0 auto;
}

.desktop-modal-su .text-wrapper-5 {
  text-align: center;
  white-space: nowrap;
}

.desktop-modal-su .text-wrapper-6 {
  text-align: center;
  white-space: nowrap;
}

.desktop-modal-su .frame-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: fit-content;
}

.desktop-modal-su .frame-3 {
  display: flex;
  align-items: flex-start;
  gap: 8px;
  position: relative;
}

.desktop-modal-su .ellipse {
  background-color: var(--caixa);
  border-radius: 30px;
  height: 60px;
  position: relative;
  width: 60px;
}

.desktop-modal-su .text-wrapper-7 {
  color: #ffffff;
  text-align: center;
  white-space: nowrap;
}

.desktop-modal-su .text-wrapper-8 {
  text-align: center;
  white-space: wrap;
  color: #666666;
  font-family: "Open Sans-Regular", Helvetica;
  font-size: 24px;
  font-weight: 400;
  left: 0;
  letter-spacing: -0.26px;
  line-height: 30px;
}

.icon-img {
  max-width: 100%;
  width: 13%;
}

.gestor-name {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 25px;
  padding-right: 50px;
}


.sala-details-turn-page {
  display: none;
}

.sala-title-turn-page {
  color: #ffffff;
  font-family: "Open Sans-SemiBold", Helvetica;
  font-size: 46px;
  font-weight: 600;
  line-height: 20px;
  padding: 20px;
  white-space: nowrap;
  opacity: 1;
  animation: fade-in 1s ease-in-out;

  /* Añadimos una transformación para mover el texto desde la derecha */
  transform: translateX(0%);
}


@media (max-width: 768px) {

  .desktop-modal-su {
    flex-direction: column;
    /* Cambia a una columna en lugar de una fila */
    align-items: center;
    text-align: center;

  }

  .logo-caixabank {
    display: none;
    /* Oculta el logo en pantallas pequeñas */
  }

  .desktop-modal-su .frame {
    width: 90%;
  }


  .desktop-modal-su .text-wrapper,
  .desktop-modal-su .text-wrapper-2,
  .your-turn,
  .desktop-modal-su .text-wrapper-4,
  .desktop-modal-su .text-wrapper-3,
  .desktop-modal-su .text-wrapper-5,
  .desktop-modal-su .text-wrapper-6,
  .desktop-modal-su .text-wrapper-7,
  .desktop-modal-su .text-wrapper-8 {
    font-size: 18px;
    /* Ajusta el tamaño del texto */
    line-height: 1.5;
    /* Ajusta el espacio entre líneas */
  }

  .icon-img {
    padding-left: 20px;
    width: 40%;
    /* Ajusta el tamaño del icono del nombre */
  }

  .sala-details-turn-page {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    background: #007eae;
    color: #fff;
    max-width: 100%;
  }

  .sala-title-turn-page {
    padding: 40px;
    font-size: 40px;
    /* Ajusta el tamaño del texto en la barra de Sala Virtual */
  }
}